<%-include('../cabecalho.ejs')%>
    <h1>Cursos</h1>
    <a href="/curso/add">Listar</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Area</td>
            <td>Ano de fundacao</td>
            <td>Nivel</td>
        </tr>
        <%for (const {nome, area, anofundacao, nivel} of Cursos){%>
        <tr>
            <td><%=nome%></td>
            <td><%=area%></td>
            <td><%=anofundacao%></td>
            <td><%=nivel%></td>
            <td></td>
        </tr>
        <%}%>
    </table>
    <%-include('../rodape.ejs')%>